<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    <h1>Welcome to the Flask App!</h1>
    <h2><center>Version of this app {{ app_version }}</center></h2>
    <h3><center>Nothing i compareable {{ my_message }}</center></h3>
</body>
</html>
